        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'produit.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'produit.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'produit.reference' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'produit.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validProduitReference}"  />
                                            <small class='p-error' *ngIf='!validProduitReference'>Reference est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-5">
                                        <label for="2">{{'produit.categorieProduit' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="categorieProduits" [(ngModel)]="item.categorieProduit" id="2" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="reference" placeholder="{{'produit.categorieProduit' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCategorieProduit('CategorieProduit')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'produit.libelle' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'produit.libelle' | translate}}" id="3" [(ngModel)]="item.libelle"
                                                     />
                                            
                                        </div>



                                    <div class="field col-11 md:col-5">
                                        <label for="4">{{'produit.marque' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="marques" [(ngModel)]="item.marque" id="4" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="reference" placeholder="{{'produit.marque' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateMarque('Marque')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'produit.prixAchatMoyen' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'produit.prixAchatMoyen' | translate}}" [(ngModel)]="item.prixAchatMoyen" [ngClass]="{'ng-invalid ng-dirty' : !validProduitPrixAchatMoyen}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validProduitPrixAchatMoyen'>PrixAchatMoyen est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'produit.prixVente' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'produit.prixVente' | translate}}" [(ngModel)]="item.prixVente"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="{{'produit.stocks' | translate}}">
                                        <div class="grid">
                                            <div class="col">
                                                            <div class="field col-11 md:col-5">
                                                                <label>Depot</label>
                                                                <p-dropdown appendTo="body" [options]="depots" [(ngModel)]="stocksElement.depot"
                                                                        id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Depot"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateDepot('Depot')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">Quantite<span style="color: red;">*</span></label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="quantite" [(ngModel)]="stocksElement.quantite" placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : !validStocksQuantite}" ></p-inputNumber>
                                                                <small class='p-error' *ngIf='!validStocksQuantite'>Quantite est obligatoire.</small>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addStocks()"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <p-table [value]="item.stocks" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Depot</th>
                                                                        <th>Quantite</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.depot?.libelle}}</td>
                                                                        <td>{{p.quantite}}</td>
                                                            <td>
                                                                <button (click)="deleteStocks(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editStocks(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-categorie-produit-create-admin></app-categorie-produit-create-admin>
                    <app-marque-create-admin></app-marque-create-admin>

                            <app-depot-create-admin></app-depot-create-admin>

    </p-dialog>
