
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'entreeProduit.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'entreeProduit.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'entreeProduit.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entreeProduit.reference' | translate}}" autofocus  id="1" [(ngModel)]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'entreeProduit.dateEntreeProduit' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'entreeProduit.dateEntreeProduit' | translate}}"  [(ngModel)]="item.dateEntreeProduit" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'entreeProduit.total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'entreeProduit.total' | translate}}" [(ngModel)]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'entreeProduit.fournisseur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entreeProduit.fournisseur' | translate}}" autofocus  id="4" [(ngModel)]="item.fournisseur?.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'entreeProduit.description' | translate}}</label>
                        <textarea id="5" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'entreeProduit.description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'entreeProduit.collaborateur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entreeProduit.collaborateur' | translate}}" autofocus  id="6" [(ngModel)]="item.collaborateur?.prenom">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'entreeProduit.entreeProduitItems' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.entreeProduitItems" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Produit</th>
                                        <th>Quantite</th>
                                        <th>Prix</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.produit?.reference}}</td>
                                        <td>{{p.quantite}}</td>
                                        <td>{{p.prix}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



