        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'sortieProduit.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'sortieProduit.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'sortieProduit.reference' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sortieProduit.reference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validSortieProduitReference}"  />
                                            <small class='p-error' *ngIf='!validSortieProduitReference'>Reference est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'sortieProduit.dateSortieProduit' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'sortieProduit.dateSortieProduit' | translate}}"  [(ngModel)]="item.dateSortieProduit"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'sortieProduit.total' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'sortieProduit.total' | translate}}" [(ngModel)]="item.total"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'sortieProduit.description' | translate}}</label>
                                            <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'sortieProduit.description' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'sortieProduit.collaborateur' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="collaborateurs" [(ngModel)]="item.collaborateur" id="5" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="prenom" placeholder="{{'sortieProduit.collaborateur' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                        </div>
                    </p-tabPanel>

                            <p-tabPanel header="{{'sortieProduit.sortieProduitItems' | translate}}">
                                        <div class="grid">
                                            <div class="col">
                                                            <div class="field col-11 md:col-6">
                                                                <label>Produit<span style="color: red;">*</span></label>
                                                                <p-dropdown appendTo="body" [options]="produits" [(ngModel)]="sortieProduitItemsElement.produit"
                                                                        id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="reference" placeholder="Produit"  [ngClass]="{'ng-invalid ng-dirty' : !validSortieProduitItemsProduit}" >
                                                                </p-dropdown>
                                                                <small class='p-error' *ngIf='!validSortieProduitItemsProduit'>Produit est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">Quantite<span style="color: red;">*</span></label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="quantite" [(ngModel)]="sortieProduitItemsElement.quantite" placeholder="Quantite"  [ngClass]="{'ng-invalid ng-dirty' : !validSortieProduitItemsQuantite}" ></p-inputNumber>
                                                                <small class='p-error' *ngIf='!validSortieProduitItemsQuantite'>Quantite est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">Prix<span style="color: red;">*</span></label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="prix" [(ngModel)]="sortieProduitItemsElement.prix" placeholder="Prix"  [ngClass]="{'ng-invalid ng-dirty' : !validSortieProduitItemsPrix}" ></p-inputNumber>
                                                                <small class='p-error' *ngIf='!validSortieProduitItemsPrix'>Prix est obligatoire.</small>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addSortieProduitItems()"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <p-table [value]="item.sortieProduitItems" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Produit</th>
                                                                        <th>Quantite</th>
                                                                        <th>Prix</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.produit?.reference}}</td>
                                                                        <td>{{p.quantite}}</td>
                                                                        <td>{{p.prix}}</td>
                                                            <td>
                                                                <button (click)="deleteSortieProduitItems(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editSortieProduitItems(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
